# rke2-agent.service.j2
[Unit]
Description=RKE2 Agent
Documentation=https://rancher.com/docs/rke2/latest/en/
Wants=network-online.target
After=network-online.target
Conflicts=rke2-server.service

[Service]
Type=notify
ExecStart={{ rke2_install_dir | default('/usr/local/bin') }}/rke2 agent
KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay

[Install]
WantedBy=multi-user.target
