write-kubeconfig-mode: "0644"
tls-san:
  - {{ vip }}
{% for host in groups['servers'] %}
  - {{ hostvars[host]['ansible_host'] }}
{% endfor %}
node-label:
  - server=true

# Cilium Configuration - Disable defaults
disable:
  - rke2-ingress-nginx
  - rke2-canal           # Disable default CNI - Cilium will be installed via GitOps
  - rke2-kube-proxy      # Cilium will replace this entirely
  - rke2-coredns         # Will use Cilium's DNS proxy

# Network configuration for Cilium
cluster-cidr: {{ cilium_config.pod_cidr }}
service-cidr: {{ cilium_config.service_cidr }}

# Disable kube-proxy
kube-proxy-arg:
  - "--proxy-mode=none"