apiVersion: v1
kind: Secret
metadata:
  name: capmox-credentials
  namespace: capmox-system
stringData:
  controller_manager_proxmox_api_url: ${proxmox.api_url}
  controller_manager_proxmox_username: ${proxmox.username}
  controller_manager_proxmox_token_id: ${proxmox.token_id}
  controller_manager_proxmox_token_secret: ${proxmox.token_secret}
