apiVersion: v1
kind: Secret
metadata:
  name: capmox-credentials
  namespace: capmox-system
stringData:
  controller_manager_proxmox_api_url: ${credentials.api_url}
  controller_manager_proxmox_username: ${credentials.username}
  controller_manager_proxmox_token_id: ${credentials.token_id}
  controller_manager_proxmox_token_secret: ${credentials.token_secret}
