# Terraform Variables for InfraFlux Deployment
# Generated automatically from cluster-config.yaml

proxmox_host         = "{{ tf_proxmox_host }}"
proxmox_user         = "{{ tf_proxmox_user }}"
proxmox_password     = "{{ tf_proxmox_password }}"
proxmox_node         = "{{ tf_proxmox_node }}"
proxmox_storage      = "{{ tf_proxmox_storage }}"

cluster_name         = "{{ tf_cluster_name }}"
controller_count     = {{ tf_controller_count }}
worker_count         = {{ tf_worker_count }}

vm_template_name     = "{{ tf_vm_template_name }}"
vm_cores             = {{ tf_vm_cores }}
vm_memory            = {{ tf_vm_memory }}
vm_disk_size         = "{{ tf_vm_disk_size }}"

network_cidr         = "{{ tf_network_cidr }}"
gateway_ip           = "{{ tf_gateway_ip }}"
ssh_key_path         = "{{ tf_ssh_key_path }}"
