# InfraFlux v2.0 - Talos Worker Configuration
# Node: {{ node_hostname }}
# IP: {{ node_ip }}
# Generated: {{ ansible_date_time.iso8601 }}

version: {{ talos_config.config_version }}
debug: false
persist: true

machine:
  type: worker
  token: {{ base_config.machine.token }}
  ca:
    crt: {{ base_config.machine.ca.crt | to_nice_yaml | indent(4) }}
    key: {{ base_config.machine.ca.key | to_nice_yaml | indent(4) }}
  
  kubelet:
    image: {{ cluster.talos.kubelet_image | default('ghcr.io/siderolabs/kubelet:' + cluster.talos.kubernetes_version) }}
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraArgs:
      rotate-server-certificates: true
{% if hostvars[node_hostname]['node_labels'] is defined %}
    nodeLabels:
{% for key, value in hostvars[node_hostname]['node_labels'].items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
{% if hostvars[node_hostname]['node_taints'] is defined and hostvars[node_hostname]['node_taints'] | length > 0 %}
    registerWithTaints:
{% for taint in hostvars[node_hostname]['node_taints'] %}
      - key: {{ taint.key }}
        value: {{ taint.value | default('') }}
        effect: {{ taint.effect }}
{% endfor %}
{% endif %}

  network:
    hostname: {{ node_hostname }}
{% if not network_config.force_dhcp %}
    interfaces:
      - interface: {{ hostvars[node_hostname]['network_interface'] | default('eth0') }}
        addresses:
          - {{ node_ip }}/{{ hostvars[node_hostname]['network_prefix'] | default('24') }}
        routes:
          - network: 0.0.0.0/0
            gateway: {{ hostvars[node_hostname]['gateway'] | default(network.gateway) }}
        mtu: {{ hostvars[node_hostname]['network_mtu'] | default(1500) }}
{% endif %}
    nameservers:
{% for dns in hostvars[node_hostname]['dns_servers'] | default(network_config.dns_servers) %}
      - {{ dns }}
{% endfor %}

  install:
    disk: {{ hostvars[node_hostname]['install_disk'] | default(node_config.worker.install_disk) }}
    image: {{ node_config.worker.install_image }}
    wipe: false
    extensions:
      - image: ghcr.io/siderolabs/gvisor:{{ cluster.talos.version }}
      - image: ghcr.io/siderolabs/util-linux-tools:{{ cluster.talos.version }}
{% if hostvars[node_hostname]['storage'] is defined %}
      - image: ghcr.io/siderolabs/iscsi-tools:{{ cluster.talos.version }}
{% endif %}

  time:
    servers:
{% for ntp in network_config.ntp_servers %}
      - {{ ntp }}
{% endfor %}

  sysctls:
    net.core.somaxconn: 65535
    net.core.netdev_max_backlog: 4096
    vm.max_map_count: 262144  # For Longhorn
{% for key, value in hostvars[node_hostname]['sysctls'] | default({}).items() %}
    {{ key }}: {{ value }}
{% endfor %}

  systemDiskEncryption:
    ephemeral:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0

{% if hostvars[node_hostname]['extra_mounts'] is defined and hostvars[node_hostname]['extra_mounts'] | length > 0 %}
  disks:
{% for mount in hostvars[node_hostname]['extra_mounts'] %}
    - device: {{ mount.device }}
      partitions:
        - mountpoint: {{ mount.mountpoint }}
          size: {{ mount.size | default('0') }}
          format: {{ mount.format | default('ext4') }}
{% endfor %}
{% endif %}

  files:
    - content: |
        # InfraFlux v2.0 Worker Node
        # Hostname: {{ node_hostname }}
        # Role: Worker
        # Generated: {{ ansible_date_time.iso8601 }}
{% if hostvars[node_hostname]['storage'] is defined %}
        # Storage: {{ hostvars[node_hostname]['storage'].type | default('local') }}
{% endif %}
      path: /etc/infraflux-node-info
      mode: 0644
{% if hostvars[node_hostname]['storage'] is defined and hostvars[node_hostname]['storage'].type == 'longhorn' %}
    - content: |
        #!/bin/bash
        # Longhorn prerequisite setup
        modprobe iscsi_tcp
        echo 'iscsi_tcp' >> /etc/modules-load.d/iscsi.conf
      path: /etc/extensions/longhorn-setup.sh
      mode: 0755
{% endif %}

  env:
    GRPC_GO_LOG_VERBOSITY_LEVEL: 99
    GRPC_GO_LOG_SEVERITY_LEVEL: info

cluster:
  id: {{ base_config.cluster.id }}
  secret: {{ base_config.cluster.secret }}
  controlPlane:
    endpoint: https://{{ cluster.talos.networking.cluster_endpoint }}:6443
  
  clusterName: {{ cluster.name }}
  network:
    dnsDomain: {{ cluster.talos.networking.dns_domain }}
    podSubnets:
      - {{ cluster.talos.networking.pod_subnet }}
    serviceSubnets:
      - {{ cluster.talos.networking.service_subnet }}
    cni:
      name: none  # Will be installed post-bootstrap

  token: {{ base_config.cluster.token }}
  ca:
    crt: {{ base_config.cluster.ca.crt | to_nice_yaml | indent(4) }}

  discovery:
    enabled: {{ features.cluster_discovery | default(true) }}
    registries:
      kubernetes:
        disabled: false
      service:
        disabled: true