[controllers]
{% for i in controllers %}
{{ vm_base_name }}-controller-{{ i }} ansible_host={{ start_ip | ipmath(i) }} ansible_user=ubuntu
{% endfor %}

[workers]
{% for i in workers %}
{{ vm_base_name }}-worker-{{ i }} ansible_host={{ start_ip | ipmath((controller_count | int) + i) }} ansible_user=ubuntu
{% endfor %}

[k3s_cluster:children]
controllers
workers

[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
ansible_ssh_private_key_file={{ ssh_private_key_path | default('~/.ssh/id_rsa') }}
ansible_user=ubuntu
k3s_version={{ k3s_version | default('v1.28.5+k3s1') }}
k3s_token={{ k3s_token | default(lookup('password', '/tmp/k3s_token chars=ascii_letters,digits length=32')) }}
cluster_cidr={{ pod_cidr | default('10.244.0.0/16') }}
service_cidr={{ service_cidr | default('10.96.0.0/12') }}
cluster_dns={{ cluster_dns | default('10.96.0.10') }}
cluster_name={{ cluster_name | default('k3s-cluster') }}
start_ip={{ start_ip }}
network_cidr={{ network_cidr }}
gateway_ip={{ gateway_ip }}
